body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
}

.intro{
    text-transform: uppercase;
    color: #e32879;
    font-size: 16px;
    font-weight: 700;
}

/* ! header section */
.header-section{
    background-image: url(/codeTime/elements/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}
.header-section__inner-container{
    position: relative;
    height: 800px;
    top: 20%;
}

.row{
    padding-left: 30px;
}
h2{
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}
.para{
    color: white;
    font-size: 16px;
    
}
.button a:hover{
    text-decoration: none;
    color: white;
    
}
.primary-button{
    background: #e32879;
    font-size: 16px;
    color: white;
    display: inline-block;
    font-weight: 700;
    padding: 12px 30px 10px;
}

/* !section about */
.about-section{
  padding: 80px 50px 80px 30px;
  background-color: #191919;

}

.about-section__inner-container{
    margin: 10px 50px 20px;
    padding-left: 20px;
}

/* ! services section */

.main-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
   
}


