body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
}

.intro{
    text-transform: uppercase;
    color: #e32879;
    font-size: 16px;
    font-weight: 700;
}


.header-section{
    background-image: url(/elements/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;

}
h2{
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}
.para{
    color: white;
    font-size: 16px;
}
.button a{
    text-decoration: none;
    
}
.primary-button{
    background: #e32879;
    font-size: 16px;
    color: white;
    display: inline-block;
    font-weight: 700;
    padding: 12px 30px 10px;
}
